@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@font-face {
  font-family: "Primary-normal";
  src: url("./assets/fonts/ppmondwest-regular.otf") format("opentype");
}
@font-face {
  font-family: "Primary-bold";
  src: url("./assets/fonts/ppneuebit-bold.otf") format("opentype");
}
@theme {
  --font-primary: "Primary-normal", sans-serif;
  --font-bold: "Primary-bold", sans-serif;
  --font-manrope:"Manrope", sans-serif;
  --color-isblue:#090B48;
  --color-iswhite:#FFFCF8;
}





html {
  font-size: calc(0.625rem + 0.41666666666666663vw);
}
@media screen and (max-width: 1920px) {
  html {
    font-size: calc(0.625rem + 0.41666666666666674vw);
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
  }
}
@media screen and (max-width: 479px) {
  html {
    font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
  }
}
.swiper {
  overflow: visible !important;
}

.swiper-wrapper {
  overflow: visible !important;
}
.swiper-pagination {
  bottom: -35px !important;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border-radius: 999px !important;
  transition: all 0.3s ease !important;
  background: white !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  width: 35px !important;
  opacity: 1 !important;
}

.dropdown::-webkit-scrollbar{
  display: none;
}
.calendar-hide::-webkit-calendar-picker-indicator {
  display: none;
}

.calendar-hide::-webkit-inner-spin-button {
  display: none;
}

.calendar-hide {
  appearance: none;
  -webkit-appearance: none;
}

.time-hide::-webkit-calendar-picker-indicator {
  display: none;
}

.time-hide::-webkit-inner-spin-button {
  display: none;
}

.time-hide {
  appearance: none;
  -webkit-appearance: none;
}
/* .input{
  width: 380px;
  padding:16px 20px;
  border-radius:20px;
  background:rgba(255,255,255,0.1);
  border:1px solid rgba(255,255,255,0.2);
  outline:none;
  color:white;
}

.input::placeholder{
  color:rgba(255,255,255,0.5);
} */
/* 
.inputStyle {
  width: 100%;
  padding: 18px 22px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  outline: none;
  color: white;
  backdrop-filter: blur(20px);
}

.inputStyle::placeholder {
  color: rgba(255, 255, 255, 0.45);
}

.primaryBtn {
  width: 100%;
  padding: 16px;
  border-radius: 999px;
  background: #0a1b72;
  transition: 0.3s;
}

.primaryBtn:hover {
  transform: scale(1.02);
}

.topBtn {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
} */